
body{
    font-weight: bold;
    margin: 0px;
    padding: 0;
  }

  h1{
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
    margin:0px
  }

  td {
    padding: 5px 20px;
    background: #fce4ec;
  }

  a{
    color: black;
  }

  input{
    margin-bottom: 10px;
    width: 100%;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    margin: 10px;
    font-weight: bold;
    border-radius: 10px;
    background:#BFB99B;
    border: 0px;
    padding: 5px;
  }

  *:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .content{
    
    background:#F2E18D;
    padding: 10px;
  }

  .con{
    background:#A3CDD9;
    padding: 10px;
    
  }

  .cont{
    width:500px;
    display: flex;
    margin: auto;
    margin-bottom: 70px;
    margin-top: -20px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .card{
    background: #D95F69;
    width: 120px;
    height: 115px;
    font-Weight: bold;
    border-Radius: 15px;
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-Direction: column;
    justify-Content: space-between;
    align-Content: center;
    text-Align: center;
    text-transform: capitalize;
  }

  .cardsDiv{
    display: flex;
    flex-Wrap: wrap;
    justify-content:center;
  }

.oi{
    display: flex;
}

.tdd{
  width: 170px;
}

.tddd{
  width: 90px;
}

.tdddd{
  width: 80px;
  text-Align: center
}


ul{
  margin:0px
}


.buq{
  background:#A3CDD9;
  padding: 10px;
  margin:auto;
}

.buques{
  background-color: #F29544;
}

p{
  margin: 5px;
  text-align: center;
}

i{
  margin-right: 100px;
  
}

.options{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:50px;
}

.itens{
  background-color: #F29544;
  width: 200px;
  margin: 15px;
  text-transform: capitalize;
  border-radius: 5px;
  justify-items: center;
  padding:8px;
}

.table{
  margin: auto;
  padding-bottom: 30px;
}

h3, h4{
  text-align:center;
}

.butDiv{
  width:500px;
  margin:auto;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}

.butbuq{
  margin-left: 180px;
}

.contdet{
  background-color: #F29544;
  height:100vh;
}

.formdet{
  width: 400px;
  margin: auto;
}

.cardsdetb{
  width: 400px;
  margin: auto;
}

.butPrin{
  padding: 12px;
  margin-top: 10px;
  width: 170px;
  background-color: #7D6B7D;
  border-radius: 5px;
}

.formm{
  width:400px;
  margin:auto;
}

form{
  display: block;
  margin: auto;
}

.trash{
  font-size: 25px;
  padding: 0px;
  width: 0px;
  color: #BB2020;
  margin-left: 40px;
}

.space{
  padding: 10px;
  margin-top:10px;
}